@use "../../styles/index" as style;

.BoxConfirmDelete-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.15s ease-in-out;
}

.BoxConfirmDelete {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 32rem;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &_title {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 26px 20px;
    background-color: #fef2f2;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    &--logo {
      width: 50px;
      height: 50px;

      img {
        width: 100%;
      }
    }
  }

  &_content {
    // margin-top: 22px;
    padding-left: 20px;
    background-color: white;
    padding: 22px 20px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    p {
      margin-bottom: 28px;
      color: #808080;
    }
    &--btn {
      display: flex;
      gap: 12px;
      flex-direction: row-reverse;
      button {
        padding: 16px 20px;
        border-radius: 12px;
        border: none;
        font-size: 16px;
      }

      .btnCancel {
        border: 1px solid #d1d5db;
        background-color: none;
      }
      .btnDelete {
        background-color: #ef4444;
        color: white;
      }
    }
  }
}

/* Hiệu ứng */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
