@use "../../styles/index" as style;

.AdminEditContest {
  &_left {
    width: 20%;
    position: fixed;
  }
  &_right {
    width: 100%;
    padding-left: 20%;
    &--banner {
      @include style.flex(none, center);
      padding: 16px 32px;
      gap: 16px;
      background-color: white;

      .logo-banner {
        height: 40px;
        width: 10px;
        background: linear-gradient(to bottom, #f06c24, #f97316, #eab308);
        border-radius: 12px;
      }
    }
    &--content {
      .box-container {
        padding: 64px 6rem 0 6rem;
        .box {
          background-color: white;
          box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
          padding-bottom: 30px;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          .title-box {
            background: linear-gradient(to right, #f46f1e, #fb923c);
            padding: 20px;
            color: white;
            font-weight: 600;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
          .table-box {
            padding: 30px;
            .form-input {
              width: 100%;
              input {
                width: 100%;
                padding: 10px 12px;
                border: 1px solid #ddd;
                border-radius: 6px;
                font-size: 16px;
                transition: border 0.3s;
                height: 50px;
                margin: 10px 0;
              }
              textarea {
                width: 100%;
                padding: 10px 12px;
                border: 1px solid #ddd;
                border-radius: 6px;
                font-size: 14px;
                transition: border 0.3s;
                height: 50px;
                margin: 10px 0;
              }
              .form-file {
                border: none;
              }
              small {
                color: #f06c24;
                font-size: 12px;
              }
            }

            .form-actions {
              display: flex;
              justify-content: flex-end;
              gap: 12px;

              .cancelClass {
                font-weight: bold;
                padding: 10px 20px;
                background: #f1f1f1;
                color: #333;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                &:hover {
                  background-color: style.$hover-second-color;
                }
              }

              .submitClass {
                font-weight: bold;
                padding: 10px 20px;
                background: style.$primary-color;
                color: #fff;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                &:hover {
                  background-color: style.$hover-color;
                }
              }
            }

            .form-date {
              display: flex;
              gap: 40px;
            }
          }
        }
      }
    }
  }
}
