@use "../../styles/index" as style;
.class-detail-page {
  display: flex;
  height: 100vh;

  .Home_left {
    width: 20%;
    height: 100vh;
  }

  .SideBar {
    width: 100%;
  }

  .class-detail-content {
    flex: 1;
    background-color: style.$background-color;
    width: 80%;

    .banner {
      display: flex;
      align-items: center;
      padding: 16px 32px;
      gap: 16px;
      background-color: white;

      .logo-banner {
        height: 40px;
        width: 10px;
        background: linear-gradient(to bottom, #f06c24, #f97316, #eab308);
        border-radius: 12px;
      }
    }

    .box-container {
      padding: 0 8rem;
      .detail-box {
        margin-top: 64px;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        width: 100%;
        position: relative;

        .title-box {
          background: linear-gradient(to right, #f46f1e, #fb923c);
          padding: 20px 20px;
          color: #fff;
          border-radius: 8px 8px 0 0;
        }
        .from {
          padding: 40px 40px 70px 40px;
          .form-group {
            margin-bottom: 16px;

            label {
              display: block;
              font-weight: bold;
              margin-bottom: 6px;
            }

            input,
            textarea {
              width: 100%;
              padding: 16px;
              border: 1px solid #d1d5db;
              border-radius: 6px;
              background-color: #fdfdfd;
            }

            textarea {
              resize: none;
            }
          }
        }
      }
    }
  }
}

.btn {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  .back-bttn {
    margin-top: 10px;
    padding: 12px 20px;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  .back {
    background-color: white;
    &:hover {
      background-color: #d1d1d1;
    }
  }
  .send {
    background-color: style.$primary-color;
    color: white;
    &:hover {
      background-color: #e45f16;
    }
  }
}
