@use "../../styles/index" as style;

.ChangePassword {
  &_logo {
    width: 100vw;
    padding-top: 56px;
    &--img {
      height: 82px;
      width: 88px;
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  &_box {
    width: 521px;
    height: 470px;
    margin: 0 auto;
    padding: 1rem 4rem;
    margin-top: 5rem;

    &--title {
      margin-bottom: 3rem;
      p {
        font-size: 2rem;
        text-align: center;
      }
    }

    .inputNewPassword {
      width: 100%;
      height: 44px;
      border: 2px solid #d1d5db;
      background-color: #f5f7f9;
      border-radius: 8px;
      @include style.flex(space-between, center);

      padding-right: 12px;
      margin-top: 8px;
      // margin-bottom: 16px;
      input {
        width: 80%;
        height: 40px;
        padding-left: 12px;
        font-size: 16px;
        background-color: #f5f7f9;
        border: none; //none
        border-radius: 8px;
        &:focus {
          outline: none;
          border: none;
        }
      }

      button {
        height: 24px;
        width: 24px;
        border: none;
        background-color: #f5f7f9;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .labelInputConfirmPassword {
      margin-top: 16px;
    }

    .inputConfirmPassword {
      width: 100%;
      height: 44px;
      border: 2px solid #d1d5db;
      background-color: #f5f7f9;
      border-radius: 8px;
      @include style.flex(space-between, center);
      padding-right: 12px;
      margin-top: 8px;
      // margin-bottom: 16px;
      input {
        width: 80%;
        height: 40px;
        padding-left: 12px;
        font-size: 16px;
        background-color: #f5f7f9;
        border: none; //none
        border-radius: 8px;
        &:focus {
          outline: none;
          border: none;
        }
      }

      button {
        height: 24px;
        width: 24px;
        border: none;
        background-color: #f5f7f9;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .ButtonChangePassword {
      width: 100%;
      height: 44px;
      background-color: style.$primary-color;
      color: white;
      font-weight: 500;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      margin-top: 48px;

      &:hover {
        background-color: #d85e20;
      }
    }
  }
}

//css ErrorMessage
.errorNewPassword {
  color: style.$primary-color;
  font-size: 12px;
}

.errorConfirmPassword {
  color: style.$primary-color;
  font-size: 12px;
}
