@use "../../styles/index" as style;
.Home {
  display: flex;
  &_left {
    width: 20%;
    height: 100vh;
  }

  &_right {
    width: 100%;
    padding-left: 20%;
    &--banner {
      .img-bannerHomePage {
        margin-top: 24px;
        img {
          width: 100%;
        }
      }

      .content-banner {
        padding: 40px 40px;
        &_h1 {
          width: max-content;
          margin-bottom: 18px;
          color: white;
        }

        &_p {
          width: 350px;
          color: white;
          font-size: 16px;
          margin-bottom: 26px;
        }

        .but_class {
          padding: 10px;
          border-radius: 6px;
          border: none;
          color: style.$primary-color;
          font-size: 16px;
        }
      }
    }
    &--content {
      .title-content {
        margin: 40px 0px 22px 0px;
        h1 {
          color: #f06c24;
          font-weight: 500;
        }
      }

      .list-box {
        display: flex;
        justify-content: center;
        gap: 4rem;
        .box {
          width: max-content;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          background-color: white;
          padding: 50px 80px;
          border-radius: 16px;
          .icon {
            text-align: center;
            font-size: 100px;
            color: style.$primary-color;
          }
          .text-box {
            text-align: center;
            h1 {
              font-size: 46px;
              font-weight: 1000;
            }
            p {
              font-weight: 500;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.banner-container {
  padding: 0 70px;
}
