@use "../../styles/index" as style;

.AdminEditDocumentByClass {
  &_left {
    width: 20%;
    position: fixed;
  }
  &_right {
    width: 100%;
    padding-left: 20%;
    &--banner {
      @include style.flex(none, center);
      padding: 16px 32px;
      gap: 16px;
      background-color: white;

      .logo-banner {
        height: 40px;
        width: 10px;
        background: linear-gradient(to bottom, #f06c24, #f97316, #eab308);
        border-radius: 12px;
      }
    }
    &--box {
      .box-container {
        padding: 0 6rem;
        margin-top: 64px;

        .box {
          background-color: white;
          box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
          padding-bottom: 30px;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
        }
      }
      .title-box {
        background: linear-gradient(to right, #f46f1e, #fb923c);
        padding: 20px;
        color: white;
        font-weight: 600;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .list-form {
        padding: 30px;
        .input-form {
          margin-bottom: 16px;
          label {
            font-weight: 500;
          }

          input {
            width: 100%;
            height: 50px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
            margin-top: 6px;
            font-size: 16px;
          }
          textarea {
            width: 100%;
            height: 50px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
            margin-top: 6px;
          }
          .input-file {
            width: 100%;
            border: none;
          }
          .btn-push-file {
            background-color: #f1f1f1;
            padding: 10px 10px;
            font-size: 16px;
            display: flex;
            align-items: center;
            border: none;
            border-radius: 16px;
            &:hover {
              background-color: style.$hover-second-color;
            }
          }
          .validate {
            color: #f06c24;
            font-size: 12px;
            margin-top: 4px;
          }
          .btn-delete-file {
            padding: 12px 20px;
            background-color: rgb(226, 50, 50);
            font-weight: 500;
            color: white;
            border: none;
            border-radius: 12px;
          }
        }
        .button-create-document-by-class {
          display: flex;
          flex-direction: row-reverse;
          gap: 12px;
          .btn-submit {
            font-weight: bold;
            padding: 10px 20px;
            background: #f4862c;
            color: #fff;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            &:hover {
              background-color: style.$hover-color;
            }
          }
          .btn-cancel {
            font-weight: bold;
            padding: 10px 20px;
            background: #f1f1f1;
            color: #333;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            &:hover {
              background-color: style.$hover-second-color;
            }
          }
        }
      }
    }
  }
}
