@use "../../styles/index" as style;
// @import BannerHomePage from "../../assets/imgs/BannerHomePage.png";

.Home {
  display: flex;
  &_left {
    width: 20%;
    height: 100vh;
  }

  &_right {
    width: 100%;
    padding-left: 20%;
    &--banner {
      margin-top: 24px;

      background-image: url("../../assets/imgs/BannerHomePage.png");
      border: 1px solid black;
      border-radius: 16px;
      height: 18rem;
      background: linear-gradient(
        to right,
        rgba(255, 102, 0, 0.9) 20%,
        rgba(255, 102, 0, 0.7) 40%,
        rgba(255, 102, 0, 0.4) 60%,
        rgba(255, 102, 0, 0.1) 80%,
        rgba(255, 102, 0, 0) 100%
      );

      .content-banner {
        padding: 40px 40px;
        &_h1 {
          width: max-content;
          margin-bottom: 18px;
          color: white;
        }

        &_p {
          width: 350px;
          color: white;
          font-size: 16px;
          margin-bottom: 26px;
        }

        .but_class {
          padding: 10px;
          border-radius: 6px;
          border: none;
          color: style.$primary-color;
          font-size: 16px;
        }
      }
    }
    &--content {
      .title-content {
        margin: 40px 0px 22px 0px;
        h1 {
          color: #f06c24;
          font-weight: 500;
        }
      }

      .list-class {
        display: grid;
        grid-template-columns: repeat(4, 16rem);
        gap: 6rem 3rem;
        button {
          border: none;
          background-color: none;
        }
        .box-class {
          width: 16rem;
          height: 9rem;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          .img-class {
            width: 100%;
            height: 100%;
            img {
              object-fit: cover;
              border-top-left-radius: 16px;
              border-top-right-radius: 16px;
              width: 100%;
              height: 100%;
            }
          }

          .text-class {
            width: 100%;
            text-align: start;
            background-color: #f7f7f7;
            padding: 10px 0px 16px 12px;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            h3 {
              font-weight: 500;
              color: #c34f10;
              margin-bottom: 4px;
            }
            p {
              color: #b9b7b7;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

.banner-container {
  padding: 0 70px;
}
