.AdminDocumentActionEdit {
    display: flex;
}

.Home_left {
    background-color: #fff;
    border-right: 1px solid #ddd;
}

.Home_Right {
    flex: 1;
    padding: 24px;
    padding-left: 20%;
    margin-left: 24px;
}

.AdminClass_Banner {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.AdminClass_Banner h3 {
    font-size: 24px;
    font-weight: bold;
    color: #ff7a00;
}

/* Form tạo tài liệu */
.DocumentFormContainer {
    width: 600px;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

/* Header màu cam phủ ngang form */
.DocumentFormTitle {
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 16px;
    text-align: center;
    background-color: #ff7a00;
    margin: 0;
    margin-top: -32px;
    margin-left: -32px;
    margin-right: -32px;
    margin-bottom: 32px;
}


.DocumentForm {
    background: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.DocumentForm label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #ff7a00;
}

.DocumentForm input[type="text"],
.DocumentForm textarea {
    margin-top: 6px;
    padding: 10px;
    border: 1px solid #ffb56b;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}
.push-file input{
    margin-top: 12px;
}

.DocumentForm input[readonly] {
    background-color: #f5f5f5;
    cursor: not-allowed;
}

.DocumentForm textarea {
    resize: vertical;
    min-height: 80px;
}

.DocumentFormActions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 10px;
}

.cancel-btn,
.submit-btn {
    padding: 8px 20px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.cancel-btn {
    background: #f0f0f0;
    color: #333;
}

.submit-btn {
    background: #ff7a00;
    color: white;
}
