@use "../../styles/index" as style;

.UserContestResult {
  &_left {
    width: 20%;
    position: fixed;
  }
  &_right {
    width: 100%;
    padding-left: 20%;
    &--banner {
      @include style.flex(none, center);
      padding: 16px 32px;
      gap: 16px;
      background-color: white;

      .logo-banner {
        height: 40px;
        width: 10px;
        background: linear-gradient(to bottom, #f06c24, #f97316, #eab308);
        border-radius: 12px;
      }
    }
    &--content {
      .box-container {
        padding: 64px 6rem 0 6rem;
        .box {
          background-color: white;
          box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
          padding-bottom: 30px;
          border-radius: 16px;
          .title-box {
            background: linear-gradient(to right, #f46f1e, #fb923c);
            padding: 20px 20px;
            color: #fff;
            border-radius: 8px 8px 0 0;
            p {
              font-weight: 600;
            }
          }
          .contest-content {
            max-height: 40rem;
            overflow-y: auto;
            padding: 20px;
            .point {
              .title-point {
                margin-bottom: 4px;
                font-weight: 500;
              }
              .box-point {
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
                  rgb(209, 213, 219) 0px 0px 0px 1px inset;
                background-color: #f9fafb;
                display: grid;
                grid-template-columns: auto auto;
                padding: 20px 12px;
                border-radius: 12px;
                margin-bottom: 12px;
                .point-right {
                  .point-right-content {
                    display: flex;

                    img {
                      width: 43px;
                      height: 43px;
                    }
                  }
                }
              }
            }

            .file {
              .title-file {
                margin-bottom: 4px;
                font-weight: 500;
              }
              .box-file {
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
                  rgb(209, 213, 219) 0px 0px 0px 1px inset;
                background-color: #f9fafb;
                display: grid;
                grid-template-columns: auto auto;
                padding: 20px 12px;
                border-radius: 12px;
                margin-bottom: 12px;
              }
            }

            .comment {
              .title-comment {
                margin-bottom: 4px;
                font-weight: 500;
              }
              .box-comment {
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
                  rgb(209, 213, 219) 0px 0px 0px 1px inset;
                background-color: #f9fafb;
                display: grid;
                grid-template-columns: auto auto;
                padding: 20px 12px;
                border-radius: 12px;
                margin-bottom: 12px;
              }
            }
            .table-result {
              margin-top: 20px;
              margin: 0 auto;
              max-height: 14rem;
              overflow-y: auto;

              table {
                width: 100%;
                border-collapse: collapse;
                text-align: left;

                th {
                  text-align: center;
                  background-color: #fafafa;
                  padding: 12px;
                  font-weight: 600;
                  border-bottom: 1px solid #e5e5e5;
                }

                td {
                  text-align: center;
                  padding: 12px;
                  border-bottom: 1px solid #e5e5e5;
                }

                tr {
                  &:last-child td {
                    border-bottom: none;
                  }
                }
              }
            }
            .btn-back {
              margin-top: 12px;
              display: flex;
              flex-direction: row-reverse;
              button {
                margin-top: 10px;
                padding: 12px 20px;
                background-color: white;
                border: 2px solid #e5e7eb;
                border-radius: 10px;
                cursor: pointer;
                font-weight: bold;
                &:hover {
                  background-color: style.$hover-second-color;
                }
              }
            }
          }
        }
      }
    }
  }
}
