@use "../../styles/index" as style;

.AdminContestResults {
  &_left {
    width: 20%;
    position: fixed;
  }
  &_right {
    // position: relative;
    width: 100%;
    height: 100vh;
    padding-left: 20%;
    &--banner {
      @include style.flex(none, center);
      padding: 16px 32px;
      gap: 16px;
      background-color: white;

      .logo-banner {
        height: 40px;
        width: 10px;
        background: linear-gradient(to bottom, #f06c24, #f97316, #eab308);
        border-radius: 12px;
      }
    }
    &--content {
      .box-container {
        padding: 64px 6rem 0 6rem;
        .box {
          background-color: white;
          box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
          padding-bottom: 30px;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          .title-box {
            background: linear-gradient(to right, #f46f1e, #fb923c);
            padding: 20px;
            color: white;
            font-weight: 600;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }

          .table-box-contest-results {
            overflow-x: auto;
            max-height: 32rem;
            overflow-y: auto;
            table {
              min-width: 768px;
              width: 100%;
              border-collapse: collapse;
              thead {
                position: sticky;
                top: 0;
                z-index: 99;
              }
              td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
                padding: 6px 14px;
              }
              th {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #4b5563;
                font-weight: 400;
                background-color: #f9fafb;
                text-align: left;
                padding: 6px 14px;
              }

              .btn-details {
                text-align: left;
                background-color: white;
                border: none;
                font-size: 16px;
                width: 100%;
                &:hover {
                  text-decoration: underline;
                }
              }
              .btn-Scoring {
                padding: 8px 10px;
                border-radius: 10px;
                border: none;
                background-color: #a855f7;
                font-weight: 500;
                color: white;
              }
              .form-Scoring {
                display: block;
                .form-top {
                  width: 100px;
                  display: flex;
                  gap: 12px;
                  margin-bottom: 6px;
                  .point {
                    width: 46px;
                    height: 32px;
                    padding-left: 6px;
                    border: 2px solid #e5e7eb;
                    border-radius: 6px;
                    &:focus {
                      outline: none;
                    }
                  }
                  .btn-form-Scoring {
                    height: 28px;
                    font-size: 28px;
                    border: none;
                    background-color: white;
                    border-radius: 6px;
                    &:hover {
                      background-color: style.$hover-second-color;
                    }
                  }
                }
                .form-bottom {
                  .Comment {
                    height: 32px;
                    padding-left: 6px;
                    border: 2px solid #e5e7eb;
                    border-radius: 6px;
                  }
                }

                .validate {
                  color: #f06c24;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
    // .box-scoring {
    //   position: absolute;
    //   top: 40%;
    //   left: 60%;
    //   transform: translate(-50%, -50%);
    //   width: 24rem;
    //   border-radius: 12px;
    //   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    //   .title-scoring {
    //     border-top-left-radius: 12px;
    //     border-top-right-radius: 12px;
    //     background-color: #fef2f2;
    //     padding: 24px 12px;
    //     p {
    //       font-weight: 600;
    //       font-size: 24px;
    //     }
    //   }
    //   .form-Point {
    //     padding: 20px;
    //     border-bottom-left-radius: 12px;
    //     border-bottom-right-radius: 12px;
    //     input {
    //       width: 100%;
    //       height: 40px;
    //       font-size: 18px;
    //       padding-left: 12px;
    //       border: 1px solid #ccc;
    //       border-radius: 6px;
    //     }
    //   }
    // }
  }
}
