@use "../../styles/index" as style;

.UserContest {
  &_left {
    width: 20%;
    position: fixed;
  }
  &_right {
    width: 100%;
    padding-left: 20%;
    &--banner {
      @include style.flex(none, center);
      padding: 16px 32px;
      gap: 16px;
      background-color: white;

      .logo-banner {
        height: 40px;
        width: 10px;
        background: linear-gradient(to bottom, #f06c24, #f97316, #eab308);
        border-radius: 12px;
      }
    }

    &--content {
      .box-container {
        padding: 64px 6rem 0 6rem;
        .box {
          background-color: white;
          box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
          padding-bottom: 30px;
          border-radius: 16px;
          .title-box {
            padding: 20px 30px;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
          }
          .content-contest {
            max-height: 38rem;
            overflow-y: auto;
            .list-contest {
              padding: 36px;
              .btn-contest {
                width: 100%;
                text-align: left;
                border: none;
                height: max-content;
                margin-bottom: 16px;
                border-radius: 16px;
                background-color: #fff;
                &:hover {
                  background-color: style.$hover-second-color;
                }
              }
              .contest {
                padding: 12px;
                border-radius: 16px;
                margin-bottom: 12px;
                box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
                  rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
                .title-contest {
                  button {
                    position: relative;
                    color: #22c55e;
                    border: none;
                    background-color: white;
                    font-size: 32px;
                    font-weight: 600;
                    cursor: pointer;
                    padding: 4px 0;

                    &::after {
                      content: "";
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      height: 2px;
                      width: 0;
                      background-color: #4d63eb;
                      transition: width 0.3s ease;
                    }

                    &:hover::after {
                      width: 100%;
                    }
                  }
                }

                .date-contest {
                  margin-bottom: 12px;
                  p {
                    color: rgb(167, 167, 167);
                    font-style: italic;
                  }
                }
                .contest-status {
                  .contest-status-progress {
                    background-color: #d9f9e8;
                    width: max-content;
                    padding: 2px 12px;
                    border-radius: 12px;
                    text-align: center;
                  }
                  .contest-status-upcoming {
                    background-color: #fef9c3;
                    width: max-content;
                    padding: 2px 12px;
                    border-radius: 12px;
                    text-align: center;
                  }
                  .contest-status-completed {
                    background-color: #686339;
                    width: max-content;
                    padding: 2px 12px;
                    border-radius: 12px;
                    text-align: center;
                    color: white;
                  }
                }
                .btn-contest-details {
                  display: flex;
                  flex-direction: row-reverse;
                  button {
                    padding: 8px 20px;
                    background-color: #f06c24;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    font-weight: bold;
                    &:hover {
                      background-color: style.$hover-color;
                    }
                  }
                  .btn-result {
                    padding: 8px 20px;
                    background-color: #a855f7;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    font-weight: bold;
                    &:hover {
                      background-color: #7a30bf;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
